*{
    padding-top:50px;
    text-align: center;
    background-color: black;
    color: white;
}
.bt{
    border-radius: 10px;
    background-color: #F2C14E;
    border-color:#F2C14E;
}
.footerImg{
    height: 10%;
    width: 10%;
}
